extends layout

block content
  h1 #{title}: #{book.title}

  p #[strong Author:] 
    a(href=book.author.url) #{book.author.name}
  p #[strong Summary:] #{book.summary}
  p #[strong Review:] #{book.review}
  p #[strong Finished:] #{book.read}
  p #[strong Genre:] 
    each val in book.genre
      a(href=val.url) #{val.name}
      |, 

 
  p #[strong vocab:] 
    each val in book.vocabulary
      a(href=val.url) #{val.name}
      
      |:  #{val.definition},
  if book.imageUrl     
    img(src='/images/'+ book.imageUrl)     

  hr
  if user
    p
      a(href=book.url+'/delete') Delete Book
    p
      a(href=book.url+'/update') Update Book
